.module {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
  }
  .module ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
  }
  .module li {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
  }
  .module li::after {
    content: ",";
  }
  .module li:last-child::after {
    content: ".";
  }
  .method {
    text-align: left;
    line-height: 1.5em;
  }

  .module button {
    position: relative;
    top: 0;
    right:0;
    background: #ddd;
    color: #777;
    border: none;
    padding: 12px 8px;
    text-align: center;
    line-height: 0;
    font-size: 0.9em;
    cursor: pointer;
  }
